@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@model Musicologist.ViewModels.CourseViewModel;

@*@{ string route = ""; }*@

<div class="row">
    <div class="col-12 col-xl-12">
        <h1 class="title">M U S I C O L O G I S T</h1>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class=" jumbotron jumbotron-fluid"></div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <h3>Our courses:</h3>
    </div>
</div>

<partial name="/Views/Shared/_CoursePartial.cshtml" model="@Model"/>