@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@model Musicologist.ViewModels.CourseViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">M U S I C O L O G I S T</h1>
</div>

<h1>@ViewBag.Message</h1>

@{ string route = ""; }

<div class=" jumbotron jumbotron-fluid"></div>

<div class="row">
    <div class="col-xl-12">
        <h3>Our courses:</h3>
    </div>
</div>


<div class="row">
    @foreach (var course in Model.Courses)
    {
        if (SignInManager.IsSignedIn(User))
        {
            route = "/ApplicationUserCourse/Details?courseId=" + course.Id;
        }
        else
        {
            route = "/Course/Details?courseId=" + course.Id;
        }
        <a class="course zoom col-lg-4" href="@route">
                <img class="course-image" src="@course.ImageUrl">
                <div class="course-title">@course.Title</div>
        </a>
    }
</div>