<div class="row">
    <div class="col-12 col-xl-12">
        <h1>Privacy</h1>
        <h3>Identity token cookies</h3>
        <p>We're using identity token cookies only.</p>
        <h3>Other user data</h3>
        <p>We're store functional data only.</p>
        <h3>Third parties</h3>
        <p>We're not sending or selling data to third parties.</p>
    </div>
</div>