@model Musicologist.ViewModels.CourseViewModel

<h1>@Model.CurrentCourse.Title</h1>


@* Behöver veta om assignment is completed *@

@foreach (var coursePart in Model.CurrentCourse.CourseParts)
{
    <h3>@coursePart.Title</h3>
    foreach (var lesson in coursePart.Lessons)
    {
        <a href="/Course/Lesson?Id=@lesson.Id">
            <p>@lesson.Title</p>
        </a>
        <p>@lesson.Description</p>
    }

    <hr />

    <i style="color:grey;" class="fas fa-unlock"></i>
    <i style="color:grey;" class="fas fa-lock"></i>
    <i style="color:green;"class="fas fa-check"></i>
}