@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@model Musicologist.ViewModels.CourseViewModel;


<div class="row">
    <div class="col-xl-12">
        <h1>Available courses:</h1>
    </div>
</div>


@{ string route = ""; }

<div class="row">
    @foreach (var course in Model.Courses)
    {
        if (SignInManager.IsSignedIn(User))
        {
            route = "/ApplicationUserCourse/Details?courseId=" + course.Id;
        }
        else
        {
            route = "/Course/Details?courseId=" + course.Id;
        }
        <a href="@route">
            <div class="course zoom col-lg-4">
                <img class="course-image" src="@course.ImageUrl">
                <div class="course-title">@course.Title</div>
            </div>
        </a>
    }
</div>