@model Musicologist.ViewModels.CourseViewModel;

<h1>Our courses:</h1>

<div class="container">

    <div class="row">
        @foreach (var course in Model.Courses)
        {
        <a href="/Course/CourseDetails?Id=@course.Id">
            <div class="course zoom col-12 col-sm-4 col-md-4 col-lg-4 box col-xl-4 box">
                <img class="image-course" src="@course.ImageUrl">
                <div class="course-title">@course.Title</div>
            </div>
        </a>
        }
    </div>
</div>