@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@model Musicologist.ViewModels.CourseViewModel;

<div class="row">
    <div class="col-xl-12">
        <h1>Available courses:</h1>
    </div>
</div>

<partial name="/Views/Shared/_CoursePartial.cshtml" model="@Model" />