@model Musicologist.ViewModels.LessonViewModel

<div class="row">

    <div class="col-12 col-xl-12">


        <h1>@Model.Title</h1>

        <h3>@Model.Description</h3>

        <h3>Lesson:</h3>

        @foreach (var text in Model.Texts)
        {
            <h6>@text.Title</h6>
            <p>@text.Text</p>
        }

        <hr />

    </div>
</div>

<div class="row">
    <div class="col-12 col-xl-12">

        @if (Model.IsCompleted)
        {
            <p class="btn btn-secondary btn-musicologist-large">Assignment<i style="color:green;" class="fas fa-check"></i></p>
        }
        else
        {
            if (Model.IsLastLesson)
            {
                <a href="/Assignment/Index?assignmentId=@Model.AssignmentId&courseId=@Model.CourseId&nextLessonId=@Model.NextLessonId&nextLessonIndex=@Model.NextLessonIndex&isLast=true" class="btn btn-success btn-musicologist-large">Assignment</a>
            }
            else
            {
                <a href="/Assignment/Index?assignmentId=@Model.AssignmentId&courseId=@Model.CourseId&nextLessonId=@Model.NextLessonId&nextLessonIndex=@Model.NextLessonIndex&numberOfLessons=@Model.NumberOfLessons" class="btn btn-success btn-musicologist-large">Assignment</a>
            }
        }
    </div>
</div>
