@model Musicologist.ViewModels.LessonViewModel

<h1>@Model.Title</h1>

<h3>@Model.Description</h3>

<h3>Lesson:</h3>

@foreach (var text in Model.Texts)
{
    <h6>@text.Title</h6>
    <p>@text.Text</p>
}

<hr />

@if (Model.IsCompleted)
{
    <p class="btn btn-secondary">Assignment</p>
    <i style="color:green;" class="fas fa-check"></i>
}
else
{
    <a href="/Assignment/Index?assignmentId=@Model.AssignmentId&courseId=@Model.CourseId" class="btn btn-success">Assignment</a>
}