@model Musicologist.ViewModels.ApplicationUserViewModel

<div class="row margin-bottom-25">
    
    <div class="col-xl-2">
        <img src="/img/profile-picture-avatar-3.jpg" id="profile-image" class="img">
    </div>

    <div class="col-xl-10">

        <div class="row">
            <div class="col-xl-3">
                <a asp-area="Identity" asp-page="/Account/Manage/Index" class="btn btn-info">Edit</a>
            </div>
        </div>
        
        <div class="row">
            <div class="col-6 col-xl-6">
                <h3>@Model.UserName</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <h3>Total XP: @Model.XP</h3>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-xl-12">
        <h3>My courses</h3>
    </div>
</div>

<div class="row">

    @foreach (var course in Model.ApplicationUserCourses)
    {
        <a class="application-user-course zoom ml-3 mb-3 col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3" href="/ApplicationUserCourse/Index?courseId=@course.Id">
            <img class="course-image" src=@course.ImageUrl>
            <div class="course-title">@course.Title</div>
        </a>
    }
</div>