@model Musicologist.ViewModels.ApplicationUserViewModel

<h3>ApplicationUser: @Model.CurrentApplicationUser.Email</h3>

<h3>XPGainedTotal: @Model.CurrentApplicationUser.UserStatistics.XPGainedTotal</h3>