.btn-application-user-course-details {
    width: 33vw;
    padding:20px;
}


@media only screen and (max-width: 576px) {

    .btn-application-user-course-details {
        min-width: 90vw;
        max-width: 90vw;
        padding: 20px;
    }
}