.jumbotron {
    background-image: url(/img/musicologist-background.jpg);
    height:50vh;
    padding:0;
}

.graduation-hat {

}

@media only screen and (max-width: 576px) {

    .title {
        font-size: 28px;
    }

    .jumbotron {
        display:none;
    }
}