.hide {
    display:none;
}

/*.center {
    margin-left: auto;
    margin-right: auto;
}*/

.zoom {
    transition: transform .1s;
}

    .zoom:hover {
        transform: scale(1.1);
        z-index: 1;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
        cursor: pointer;
    }

.course-title {
    position: absolute;
    height: 50px;
    width: 100%;
    background-color: rgb(128, 128, 128, 0.8);
    top: 0px;
    left: 0px;
    margin-bottom: 20px;
    padding: 15px;
    color:whitesmoke;
}

.course-image {
    /*position:relative;*/
    width: 150%;
    padding:0;
}

.course {
    min-width: 25vw;
    height: 20vw;
    padding: 0;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom:10px;
}

@media only screen and (max-width: 576px) {

    .course {
        margin-right: 0px;
        min-height: 30vh;
    }
}



i {
    color: white;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-top-7 {
    margin-top: 7px;
}

#profile-image {
    border-radius: 50%;
    width: 175px;
    height: auto;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

html {
    overflow-y: scroll;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

html {
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    margin-top: 100px;
    bottom:0;
    width: 100%;
}