@model Musicologist.ViewModels.ApplicationUserViewModel

@if (Model.ErrorMessage != "") { <h1>@Model.ErrorMessage</h1> }

@if (Model.ConfirmationMessage != "") { <h1>@Model.ConfirmationMessage</h1> }

<div class="container">
    <div class="row margin-bottom-25">
        <div class="col-sm-4 col-md-3 col-lg-2">
            <img src="/img/profile-picture-avatar-3.jpg" id="profile-image" class="img">
        </div>
        <div class="col-xl-10">
            <div class="col-xg-10">
                <button type="button" class="btn btn-secondary">Change</button>
                <button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">

            <form asp-controller="Profile" asp-action="Edit" method="post">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" value="@Model.CurrentApplicationUser.Email" asp-for="@Model.CurrentApplicationUser.Email">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                </div>
                <div class="form-group">
                    <label for="pwd">New password:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="New password" name="pswd">
                </div>
                <div class="form-group">
                    <label for="pwd">Repeat new password:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Repeat new password" name="pswd">
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>