@model Musicologist.ViewModels.CourseDetailsViewModel

<div class="container">

    <h1>@Model.Title</h1>

    <h3>@Model.Description</h3>

    <h3>Total XP: @Model.XPReward</h3>

    @if (Model.IsAdded)
    {
        <a href="/ApplicationUserCourse/Index?courseId=@Model.Id" class="btn btn-success">Continue course</a>
    }
    else
    {
        <a href="/ApplicationUserCourse/AddCourse?courseId=@Model.Id" class="btn btn-success">Add to my courses</a>
    }

</div>